/*Styles.css Stylos para el sitio web de Analisis y Desarrollo de Sistemas de Informacion

Autor: Jhon Bravo;
Email: bramasterweb@gmail.com;

*/

.header nav ul li a{
	text-decoration: none;
	

}
.bienvenidos{

}
.novedades{

}